# Basic Level:

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [ ]:
for i in range(1,11):
    print(i)


2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [ ]:
sum1=0

In [ ]:
list1 =[3,5,7,8,10,90,100]

In [ ]:
for i in list1:
    sum1 = sum1+i
sum1


3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [ ]:
strings= "PWSkills- Data Science"
new_string =""

In [ ]:
for i in strings:
    new_string = i+ new_string

In [ ]:
new_string

4. Develop a program that finds the factorial of a given number using a `for` loop.

factorial = n*(n-1)*(n-2)*....1

In [ ]:
def fact(n):
    factorial =1
    for i in range(1,(n+1)):
        factorial = factorial *i
        i = i-1
    return factorial

In [ ]:
fact(4)

In [ ]:
fact(5)


5. Create a program to print the multiplication table of a given number using a `for` loop.

In [ ]:
def multiplication(num):
    for i in range(1,11):
        mul = num*i
        print(num,"*", i, "=",mul)

In [ ]:
multiplication(8)


6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [ ]:
list2 =[1,4,7,9,13,16,29,28,20,15]

In [ ]:
even_count =0
odd_count =0
for i in list2:
    if i%2 ==0:
        even_count = even_count+1
    else:
        odd_count = odd_count+1

In [ ]:
even_count

In [ ]:
odd_count


7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [ ]:
for i in range(1,6):
    print(i*i)


8. Create a program to find the length of a string without using the `len()` function.

In [ ]:
sum(list2)

In [ ]:
length =0
for i in list2:
    length = length+1
length


9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [ ]:
def average(listx):
    sum1 =0
    avg =0
    for i in listx:
        sum1 = i+sum1
        #print(sum1)
    length = len(listx)
    avg = sum1/length
    return avg

In [ ]:
average(list2)

In [ ]:
average(list1)

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [ ]:
a =0
b =1
print(a,b, end =" ")
for i in range(15):
    c = a+b
    a,b = b,c
    print(c, end = " ")

In [ ]:
fib =[0,1]
for i in range(0,15):
    fib.append(fib[i]+ fib[i+1])
    
    
fib

# Intermediate Level:



11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [ ]:
list4 =[1,2,3,1,2,3,4,5,6,1,2,3]
new_list= []

In [ ]:
for i in list4:
    if i not in new_list:
        new_list.append(i)
    else:
        print(i," is a duplicate in the list")

12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [ ]:
for i in range(2,20):
    for j in range(2,20):
        if i%j ==0:
            break
            
    if i ==j:
        print(i, end = " ")


13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [ ]:
strings ="Data Science PWskills"

In [ ]:
v_count =0
for i in strings:
    if i in "AEIOUaeiou":
        v_count = v_count+1
v_count

14.Write a program to find the maximum element in a 2D list using a nested for loop.

In [ ]:
l = [[9,11, 2, 3,10,10], [12,45,4, 5, 6], [7, 8, 9]]
l

In [ ]:
for i  in l:
    #print(i)
    print("The maximum value in each sublist", i, "is", max(i))

In [ ]:
maxi = 0
for i in l:
    for k in i:
        if k >maxi:
            maxi = k
            break
print(maxi)

15. Create a program that removes all occurrences of a specific element from a list using a for loop.

In [1]:
num =7
listx =[0, 0, 1, 1, 1, 2, 2, 2, 3, 4, 4, 5, 5, 6, 7, 7, 7, 8, 9, 9]
c = listx.count(num)
print("The occurance of",num,"in the list is:",c, "times")
for i in range(c):
    listx.remove(num)

print("After removing of",num,"from the list",listx)

The occurance of 7 in the list is: 3 times
After removing of 7 from the list [0, 0, 1, 1, 1, 2, 2, 2, 3, 4, 4, 5, 5, 6, 8, 9, 9]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [11]:
for i in range(1,6):
    print("Multiplication of",i)
    for j in range(1,11):
        print(i*j)

Multiplication of 1
1
2
3
4
5
6
7
8
9
10
Multiplication of 2
2
4
6
8
10
12
14
16
18
20
Multiplication of 3
3
6
9
12
15
18
21
24
27
30
Multiplication of 4
4
8
12
16
20
24
28
32
36
40
Multiplication of 5
5
10
15
20
25
30
35
40
45
50


17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

(°F − 32) × 5/9 = °C

In [18]:
farenheit = [32, 100,94, 95, 96,97,98,99, 100]
for i in farenheit:
    print("The Farenheit temperature of",i, "is :",(i-32)*(5/9))

The Farenheit temperature of 32 is : 0.0
The Farenheit temperature of 100 is : 37.77777777777778
The Farenheit temperature of 94 is : 34.44444444444444
The Farenheit temperature of 95 is : 35.0
The Farenheit temperature of 96 is : 35.55555555555556
The Farenheit temperature of 97 is : 36.111111111111114
The Farenheit temperature of 98 is : 36.66666666666667
The Farenheit temperature of 99 is : 37.22222222222222
The Farenheit temperature of 100 is : 37.77777777777778


18. Create a program to print the common elements from two lists using a `for` loop.

In [22]:
list1 =[i for i in range(0,25,3)]
list1

[0, 3, 6, 9, 12, 15, 18, 21, 24]

In [23]:
list2 =[i for i in range(1,25,2)]
list2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [25]:
print("The common elements are:")
for i in list1:
    if i in list2:
        print(i)

The common elements are:
3
9
15
21


19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [29]:
for i in range(1,7):
    print("*"*i)

*
**
***
****
*****
******


20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [ ]:
common_divisors =[]
def gcd(num1,num2):
    small = min(num1,num2)
    #print(small)
    for i in range(1, small+1):
        if (num1 % i ==0 and num2 % i ==0):
            common_divisors.append(i)
    return "The GCD of",num1,num2, "is:",common_divisors[-1]

In [ ]:
gcd(60,36)

In [ ]:
gcd(144,48)

In [ ]:
gcd(100,60)

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [ ]:
listx =[0, 1,2,3,4,5]

In [ ]:
total =0
[total:=total+i for i in listx][-1]

In [ ]:
sum([x for x in range(1,10) if x % 2!=0])


22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [336]:
listx =[0, 0, 1, 1, 1, 2, 2, 2, 3, 4, 4, 5, 5, 6, 7, 7, 7, 8, 9, 9]

In [350]:
listx

[0, 0, 1, 1, 1, 2, 2, 2, 3, 4, 4, 5, 5, 6, 7, 7, 7, 8, 9, 9]

In [353]:
unique_list =[]
for i in listx:
    if i not in unique_list:
        unique_list.append(i)
unique_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [357]:
[i for i in set(listx) ]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.

In [ ]:
def palindrome(num):
    if (str(num) == str(num)[::-1]):
        print(num,"is Palindrome")
    else:
        print(num, "isnot Palindrome")

In [ ]:
palindrome(96699669)

In [ ]:
palindrome(878)

In [30]:
print([x for x in range(11,9999) if str(x) == str(x)[::-1]])

[11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999, 1001, 1111, 1221, 1331, 1441, 1551, 1661, 1771, 1881, 1991, 2002, 2112, 2222, 2332, 2442, 2552, 2662, 2772, 2882, 2992, 3003, 3113, 3223, 3333, 3443, 3553, 3663, 3773, 3883, 3993, 4004, 4114, 4224, 4334, 4444, 4554, 4664, 4774, 4884, 4994, 5005, 5115, 5225, 5335, 5445, 5555, 5665, 5775, 5885, 5995, 6006, 6116, 6226, 6336, 6446, 6556, 6666, 6776, 6886, 6996, 7007, 7117, 7227, 7337, 7447, 7557, 7667, 7777, 7887, 7997, 8008, 8118, 8228, 8338, 8448, 8558, 8668, 8778, 8888, 8998, 9009, 9119, 9229, 9339, 9449, 9559, 9669, 9779, 9889]


25. Write a program to flatten a nested list using list comprehension.

In [31]:
list3 =[[4,5,7,0],[5,1,8,0],[5,8]]

In [32]:
flat_list = [i for sub in list3 for i in sub ]
flat_list

[4, 5, 7, 0, 5, 1, 8, 0, 5, 8]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.

In [ ]:
even_sum = sum([i for i in flat_list if i%2 ==0])
odd_sum = sum([i for i in flat_list if i%2 !=0])

In [ ]:
even_sum

In [ ]:
odd_sum


27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [33]:
[i**2 for i in range(1,10) if i%2 != 0]

[1, 9, 25, 49, 81]


28. Write a program that combines two lists into a dictionary using list comprehension.

In [34]:
key_list = ["one","two","three","four", "five"]
value_list = [9,10,11,12,13]

In [35]:
dict(zip(key_list,value_list)) #using Zip method

{'one': 9, 'two': 10, 'three': 11, 'four': 12, 'five': 13}

In [36]:
{key_list[i]:value_list[i] for i in range(len(key_list))}

{'one': 9, 'two': 10, 'three': 11, 'four': 12, 'five': 13}


29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [37]:
s ="alpUhYabOoetIs"

In [38]:
vowel_list = list(i for i in s if i in "aeiouAEIOU")
vowel_list

['a', 'U', 'a', 'O', 'o', 'e', 'I']

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [39]:
s_list = ["2kind","peral45","12val34","345"]

In [40]:
numeric_list = ["".join(i for i in element if i.isalpha()) for element in s_list ]
numeric_list

['kind', 'peral', 'val', '']

Challenge Level:

31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension.

In [42]:
non_prime =[]
prime =[]
num =40

for i in range(2, num):
    if i not in non_prime:
        prime.append(i)
        
        
        for j in range(i*i, num, i): # put all the multiples of i in non_prime list
            non_prime.append(j)
prime

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]

32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.

:  a2 + b2 = c2.
         3 4 5
         8 6 10
         5 12 13
         15 8 17
         12 16 20
  a = m2 - n2
       b = 2 * m * n
       c  = m2 + n2
because,
       a2 = m4 + n4 – 2 * m2 * n2
       b2 = 4 * m2 * n2
       c2 = m4 + n4 + 2* m2 * n2

In [ ]:
#do it ah it again do iygain

In [ ]:
limit=int(input("Enter upper limit:"))
c=0
m=2
while(c<limit):
    for n in range(1,m+1):
        a=m*m-n*n
        b=2*m*n
        c=m*m+n*n
        if(c>limit):
            break
        if(a==0 or b==0 or c==0):
            break
        print(a,b,c)
    m=m+1

In [ ]:
square_list = [i**2 for i in range(1,11)]
square_list

In [ ]:
square_list[2]+square_list[3] == square_list[4]

33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [316]:
list1 = ['a', 'b', 'c', 'd']
list2 = [1, 2, 3]

In [323]:
combinations =[]
for i in list1:
    for j in list2:
        combinations.append((i,j))

combinations

[('a', 1),
 ('a', 2),
 ('a', 3),
 ('b', 1),
 ('b', 2),
 ('b', 3),
 ('c', 1),
 ('c', 2),
 ('c', 3),
 ('d', 1),
 ('d', 2),
 ('d', 3)]

In [312]:
[(i,j) for i in list1 for j in list2]

[('a', 1),
 ('a', 2),
 ('a', 3),
 ('b', 1),
 ('b', 2),
 ('b', 3),
 ('c', 1),
 ('c', 2),
 ('c', 3),
 ('d', 1),
 ('d', 2),
 ('d', 3)]

34. Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension.

The mean (average) of a data set 
The median is the middle value when a data set is ordered from least to greatest. 
The mode is the number that occurs most often in a data set.

In [43]:
listx =[0, 1, 4, 20, 12, 3, 44, 4, 15, 53, 86, 7, 17, 7, 88, 19,0, 19,0,1]

In [44]:
length = len(listx)
length

20

In [45]:
mean = sum(i for i in listx)/len(listx)
mean

20.0

In [57]:
listx.sort()
listx

[0, 0, 0, 1, 1, 3, 4, 4, 7, 7, 12, 15, 17, 19, 19, 20, 44, 53, 86, 88]

In [46]:
[listx[length//2+1]  if length %2 !=0 else (listx[length//2]+listx[(length//2)-1])/2]

[69.5]

In [53]:
[count:= listx.count(i) for i in listx]

[3, 3, 3, 2, 2, 1, 2, 2, 2, 2, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1]

In [65]:
for i in range(0,len(listx)):
    c = listx.count(listx[i])
i,c

(19, 1)

35. Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension.

In [290]:
from math import factorial

#Create left Spacing
for i in range(n):
    for j in range(n-i+1):
        print(end=" ")
        
    for j in range(i+1):
        
        print(factorial(i)//(factorial(j)*factorial(i-j)), end = " ")
 #new line   
    print()

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension.

In [124]:
def fact(n):
    factorial =1
    for i in range(1,(n+1)):
        factorial = factorial *i
    return factorial

In [128]:
sum([fact(i) for i in range(1,6)])

153

In [129]:
import math
sum([math.factorial(i) for i in range(1,6) ])

153

37. Write a program that finds the longest word in a sentence using list comprehension.

In [73]:
s= "I am studying Data Science from PWSkills I"

In [130]:
longest_word=[i for i in s.split() if len(i) == max(len(i) for i in s.split())]
longest_word

['studying', 'PWSkills']

38. Create a program that filters a list of strings to include only those with more than three vowels using list
comprehension.

In [222]:
string_list =["learning", "DaatAaA", "PWSKILLS", "alphaabEEt", "kaveri","ashaaa","lataa", "pushpaaa"]

In [223]:
vowels_more_than_three =[]
for word in string_list:
    count = 0 
    for i in word: 
        if i in 'aeiouAEIOU': 
            count += 1
    if count>3:
        vowels_more_than_three.append(word)

        
vowels_more_than_three

['DaatAaA', 'alphaabEEt', 'ashaaa', 'pushpaaa']

In [268]:
list_morethan3vowels =[]
for word in string_list:
    vowel_count = len([i for i in word if i.lower() in ["a","e","i","o","u"]])
    if vowel_count >3:
        list_morethan3vowels.append(word)
list_morethan3vowels

['DaatAaA', 'alphaabEEt', 'ashaaa', 'pushpaaa']

39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension.

In [69]:
sum([i for i in range(1,1000)])

499500

40. Write a program that generates a list of prime palindromic numbers using list comprehension.

In [70]:
prime =[]
for i in range(11,1000):
    for j in range(11,1000):
        if i%j == 0:
            break
    if i == j:
        prime.append(i)

In [71]:
print(prime)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 25, 27, 29, 31, 35, 37, 41, 43, 47, 49, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [72]:
[i for i in prime if str(i) == str(i)[::-1]]

[11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]